@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&family=Work+Sans:wght@100;300;400;500&display=swap');
body{
    max-width: 1015px;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 80px;
    z-index: 1;
    width: 1015px;
    height: 80px;
}

.imgL{
    width: 268px;
    height: 33px;
}

.navUL{
    list-style: none;
    display: flex;
    }

.navLI{
    margin-right: 10px;
    font-family: Roboto, Arial, sans-serif;
    font: size 15px;
    line-height: 30px;
    height: 30px;
    font-weight: 400;
    color: #ABABAB;
    }

#aboutus{
    color: #00B39B;
}

.navUL :hover{
    color: #00B39B;
cursor: pointer;
}

.depart-list{
    list-style: none;
    padding: 0;
    box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
display: none;
position: absolute;
margin-left: -90px;
background-color: white;
}

.depart-list-item{
    font-family: Roboto, Arial, sans-serif;
      font: size 15px;
      color: #ABABAB;
      padding: 12px 13px;
      }

.depart-list-item:hover{
color: #00B39B;
background-color:rgb(248, 242, 242);
}


#Departments:hover .depart-list{
    display: flex;
    flex-direction: column;
}

#departments{
    position: relative;
}

.title{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.titleimg{
    height:39px;
    width:40px;
}

.titleh{
    font-family: "Work Sans", Arial, sans-serif;
    font-size:34px;
    font-weight:400;
    color:#00B39B;
}

.pr{
    display: flex;
}

.par{
    font-family:Roboto,Arial,sans-serif;
    font-size:16px;
    color:#747474;
    line-height: 28px;
    margin: 10px;
}

 .imgL:hover{
    cursor: pointer;
 }
 .fd{
    width: 88%;
}
.allbox{
    height: 345px;
    width: 311.625px;
    padding: 32px 32px 32px 32px;
    border-radius: 10px;
    margin: 20px 10px;

}
.box1{
    background-color: #00CCB1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
.box2{
    background-color: #3D83DF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box3{
    background-color: #1B2734;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxes{
    display: flex;
}

.H1box{
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: -0,3;
    height: 33.8px;
    width: 247.625px;
    color:white
}

.Pbox{
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0,3;
    line-height: 28,8;
    height: 85,4;
    width: 247.625px;
    color: white;
}

select{
    background-color: transparent;
    border: none;
    font-size: large;
    color: white;
    text-decoration: underline;
    border:none;
}

.gg{
    height: 24px;
    width: 24px;
}

option{
    color: black;
    background-color: white;
}

.ez{
    margin-top: 20px;
}

.stickers{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.stickers-logo{
   width:653.25px ; 
   margin-bottom: 100px;
   margin-top: 30px;
}

.stickers-txt{
    width: 320px;
    padding-right: 100px;
    font-family:"Work Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #00B39B;
    
}
.jh{
    padding-bottom: 30px;
    padding-right: 15px;
}
.ll{
    height: 34px ;    
}
/* .backgroundlogo{
    height: 600px;
    width: 1500;
    background-image: url(https://cdn.discordapp.com/attachments/964128210705068102/984402848517333022/Sans_titre-2.png);
} */
sfEFF